.u-section-1 {min-height: 560px}
.u-section-1 .u-image-1 {filter: brightness(0.5); width: 1364px; height: 549px; margin: 0 auto 0 0}
.u-section-1 .u-text-1 {text-transform: uppercase; font-size: 2.25rem; font-weight: 700; margin: -361px calc(((100% - 1140px) / 2) + 667px) 0 calc(((100% - 1140px) / 2))}
.u-section-1 .u-text-2 {font-size: 1.5rem; margin: 47px calc(((100% - 1140px) / 2) + 741px) 0 calc(((100% - 1140px) / 2))}
.u-section-1 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; margin-top: 22px; margin-bottom: 0; margin-left: calc(((100% - 1140px) / 2))}
.u-section-1 .u-text-3 {margin: 29px calc(((100% - 1140px) / 2) + 936px) 60px calc(((100% - 1140px) / 2))} 

@media (max-width: 1199px){ .u-section-1 {min-height: 361px}
.u-section-1 .u-image-1 {width: 940px; height: 486px; margin-left: calc(((100% - 1140px) / 2) + 100px)}
.u-section-1 .u-text-1 {margin-top: -228px; margin-right: calc(((100% - 940px) / 2) + 467px); margin-left: calc(((100% - 940px) / 2))}
.u-section-1 .u-text-2 {margin-right: calc(((100% - 940px) / 2) + 541px); margin-left: calc(((100% - 940px) / 2))}
.u-section-1 .u-btn-1 {margin-right: auto; margin-left: calc(((100% - 940px) / 2)); width: 154px}
.u-section-1 .u-text-3 {margin-right: calc(((100% - 940px) / 2) + 736px); margin-left: calc(((100% - 940px) / 2))} }

@media (max-width: 991px){ .u-section-1 {min-height: 247px}
.u-section-1 .u-image-1 {width: 720px; height: 372px; margin-left: calc(((100% - 720px) / 2))}
.u-section-1 .u-text-1 {margin-left: calc(((100% - 720px) / 2)); margin-right: calc(((100% - 720px) / 2) + 247px); margin-top: -114px}
.u-section-1 .u-text-2 {margin-left: calc(((100% - 720px) / 2)); margin-right: calc(((100% - 720px) / 2) + 321px)}
.u-section-1 .u-btn-1 {margin-left: calc(((100% - 720px) / 2))}
.u-section-1 .u-text-3 {margin-right: calc(((100% - 720px) / 2) + 516px); margin-left: calc(((100% - 720px) / 2))} }

@media (max-width: 767px){ .u-section-1 {min-height: 154px}
.u-section-1 .u-image-1 {width: 540px; height: 279px; margin-left: calc(((100% - 540px) / 2))}
.u-section-1 .u-text-1 {margin-left: calc(((100% - 540px) / 2)); margin-right: calc(((100% - 540px) / 2) + 67px); font-size: 6rem; margin-top: -21px}
.u-section-1 .u-text-2 {margin-left: calc(((100% - 540px) / 2)); margin-right: calc(((100% - 540px) / 2) + 141px)}
.u-section-1 .u-btn-1 {margin-left: calc(((100% - 540px) / 2))}
.u-section-1 .u-text-3 {margin-right: calc(((100% - 540px) / 2) + 336px); margin-left: calc(((100% - 540px) / 2))} }

@media (max-width: 575px){ .u-section-1 {min-height: 51px}
.u-section-1 .u-image-1 {width: 340px; height: 176px; margin-left: calc(((100% - 340px) / 2))}
.u-section-1 .u-text-1 {margin-left: calc(((100% - 340px) / 2)); margin-right: calc(((100% - 340px) / 2)); margin-top: 82px}
.u-section-1 .u-text-2 {margin-left: calc(((100% - 340px) / 2)); margin-right: calc(((100% - 340px) / 2))}
.u-section-1 .u-btn-1 {margin-left: calc(((100% - 340px) / 2))}
.u-section-1 .u-text-3 {margin-right: calc(((100% - 340px) / 2) + 136px); margin-left: calc(((100% - 340px) / 2))} }.u-section-2 .u-sheet-1 {min-height: 785px}
.u-section-2 .u-layout-wrap-1 {width: 1140px; margin: 120px 0 0}
.u-section-2 .u-layout-cell-1 {min-height: 409px; background-image: none}
.u-section-2 .u-container-layout-1 {padding: 30px 60px}
.u-section-2 .u-text-1 {margin: 37px -2px 0 2px}
.u-section-2 .u-text-2 {font-size: 1rem; margin: 36px 0 0}
.u-section-2 .u-text-3 {margin: 22px 0 0}
.u-section-2 .u-image-1 {min-height: 409px; background-image: url("images/01915fff-c391-4850-8cab-3b7011c28266.JPG"); background-position: 50% 50%}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-4 {margin: 22px 0 58px} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {width: 940px}
.u-section-2 .u-layout-cell-1 {min-height: 337px}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-2 .u-image-1 {min-height: 337px} }

@media (max-width: 991px){ .u-section-2 .u-layout-wrap-1 {width: 720px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-image-1 {min-height: 258px} }

@media (max-width: 767px){ .u-section-2 .u-layout-wrap-1 {width: 540px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-1 {min-height: 581px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-layout-wrap-1 {width: 340px}
.u-section-2 .u-image-1 {min-height: 366px} }.u-section-3 {margin-top: 0; margin-bottom: 0; background-image: none}
.u-section-3 .u-sheet-1 {min-height: 819px}
.u-section-3 .u-text-1 {margin: 60px 207px 0 193px}
.u-section-3 .u-layout-wrap-1 {width: 1140px; margin: 0 auto 60px 9px}
.u-section-3 .u-layout-cell-1 {min-height: 693px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-icon-1 {height: 100px; width: 100px; background-image: none; margin: 0 auto}
.u-section-3 .u-text-2 {margin: 30px 0 0}
.u-section-3 .u-text-3 {margin: 20px 0 0}
.u-section-3 .u-icon-2 {height: 100px; width: 100px; background-image: none; margin: 65px auto 0}
.u-section-3 .u-text-4 {margin: 24px auto 0 -9px}
.u-section-3 .u-text-5 {margin: 20px 9px 0 -9px}
.u-section-3 .u-layout-cell-2 {min-height: 693px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-icon-3 {height: 100px; width: 100px; background-image: none; margin: 0 auto}
.u-section-3 .u-text-6 {margin: 30px 0 0}
.u-section-3 .u-text-7 {margin: 20px 0 0}
.u-section-3 .u-icon-4 {height: 100px; width: 100px; background-image: none; margin: 19px auto 0}
.u-section-3 .u-text-8 {margin: 29px auto 0}
.u-section-3 .u-text-9 {margin: 11px 0 0}
.u-section-3 .u-layout-cell-3 {min-height: 693px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-5 {height: 100px; width: 100px; background-image: none; margin: 0 auto}
.u-section-3 .u-text-10 {margin: 30px 0 0}
.u-section-3 .u-text-11 {margin: 20px 0 0}
.u-section-3 .u-icon-6 {height: 100px; width: 100px; background-image: none; margin: 80px auto 0}
.u-section-3 .u-text-12 {margin: 20px auto 0}
.u-section-3 .u-text-13 {margin: 20px auto 0 -20px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 566px}
.u-section-3 .u-text-1 {width: 740px; margin-left: 93px; margin-right: 107px}
.u-section-3 .u-layout-wrap-1 {width: 940px; margin-left: 0}
.u-section-3 .u-layout-cell-1 {min-height: 571px}
.u-section-3 .u-text-4 {margin-left: 0}
.u-section-3 .u-text-5 {margin-left: 0; margin-right: 0}
.u-section-3 .u-layout-cell-2 {min-height: 571px}
.u-section-3 .u-text-9 {height: 75px}
.u-section-3 .u-layout-cell-3 {min-height: 571px}
.u-section-3 .u-text-13 {margin-left: 0} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 338px}
.u-section-3 .u-text-1 {width: 720px; margin-left: 0; margin-right: 0}
.u-section-3 .u-layout-wrap-1 {width: 720px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 438px}
.u-section-3 .u-text-1 {width: 540px}
.u-section-3 .u-layout-wrap-1 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 223px}
.u-section-3 .u-text-1 {width: 340px}
.u-section-3 .u-layout-wrap-1 {width: 340px} }.u-section-4 {margin-top: 0; margin-bottom: 0; background-image: linear-gradient(to right, #fef9e6, #eafdfc)}
.u-section-4 .u-sheet-1 {min-height: 796px}
.u-section-4 .u-text-1 {margin: 110px 423px 0 auto}
.u-section-4 .u-layout-wrap-1 {width: 1140px; margin: 45px auto 0 0}
.u-section-4 .u-image-1 {min-height: 626px; background-image: url("images/ae3fd6e1-3770-4a20-9afc-8d20786d2f09.JPG"); background-position: 13.93% 68.26%; background-size: auto 110%}
.u-section-4 .u-container-layout-1 {padding: 30px 60px 30px 30px}
.u-section-4 .u-image-2 {min-height: 313px; background-image: url("images/01915fff-c391-4850-8cab-3b7011c28266.JPG"); background-position: 50% 50%}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-image-3 {min-height: 313px; background-image: url("images/ae3fd6e1-3770-4a20-9afc-8d20786d2f09.JPG")}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-image-4 {min-height: 313px; background-image: url("images/ed663c5e-a0f8-4583-b68a-7c007b23c1c7.JPG"); background-position: 50% 50%}
.u-section-4 .u-container-layout-4 {padding: 30px}
.u-section-4 .u-image-5 {min-height: 313px; background-image: url("images/5e20bc62-4d26-49c6-8246-0e07b5b3f598.JPG"); background-position: 50% 50%}
.u-section-4 .u-container-layout-5 {padding: 30px}
.u-section-4 .u-text-2 {margin: 23px 620px 60px 45px} 

@media (max-width: 1199px){ .u-section-4 .u-text-1 {margin-right: 223px}
.u-section-4 .u-layout-wrap-1 {width: 940px}
.u-section-4 .u-image-1 {min-height: 516px}
.u-section-4 .u-image-2 {min-height: 258px}
.u-section-4 .u-image-3 {min-height: 258px; background-position: 50% 50%}
.u-section-4 .u-image-4 {min-height: 258px}
.u-section-4 .u-image-5 {min-height: 258px}
.u-section-4 .u-text-2 {margin-left: 0; margin-right: 465px} }

@media (max-width: 991px){ .u-section-4 .u-text-1 {margin-right: 3px}
.u-section-4 .u-layout-wrap-1 {width: 720px}
.u-section-4 .u-image-1 {min-height: 790px}
.u-section-4 .u-container-layout-1 {padding-right: 30px}
.u-section-4 .u-image-2 {min-height: 395px}
.u-section-4 .u-image-3 {min-height: 395px}
.u-section-4 .u-image-4 {min-height: 395px}
.u-section-4 .u-image-5 {min-height: 395px}
.u-section-4 .u-text-2 {margin-right: 245px} }

@media (max-width: 767px){ .u-section-4 .u-text-1 {margin-right: 0}
.u-section-4 .u-layout-wrap-1 {width: 540px}
.u-section-4 .u-image-1 {min-height: 593px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-2 {min-height: 593px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-3 {min-height: 593px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-4 {min-height: 593px}
.u-section-4 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-5 {min-height: 593px}
.u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-2 {margin-right: 65px} }

@media (max-width: 575px){ .u-section-4 .u-layout-wrap-1 {width: 340px}
.u-section-4 .u-image-1 {min-height: 373px}
.u-section-4 .u-image-2 {min-height: 373px}
.u-section-4 .u-image-3 {min-height: 373px}
.u-section-4 .u-image-4 {min-height: 373px}
.u-section-4 .u-image-5 {min-height: 373px}
.u-section-4 .u-text-2 {margin-right: 0} }.u-section-5 {margin-top: 0; margin-bottom: 0}
.u-section-5 .u-sheet-1 {min-height: 575px}
.u-section-5 .u-text-1 {margin: 37px 446px 0 auto}
.u-section-5 .u-layout-wrap-1 {margin: 43px auto 60px 0}
.u-section-5 .u-layout-cell-1 {min-height: 485px; order: 0}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-image-1 {height: 297px; width: 297px; background-image: url("images/7de0cd04-b131-4261-bd85-0ed59c162c05.JPG"); background-position: 50% 50%; margin: 0 auto}
.u-section-5 .u-text-2 {margin: 30px 0 0}
.u-section-5 .u-text-3 {margin: 20px 0 0}
.u-section-5 .u-layout-cell-2 {min-height: 485px}
.u-section-5 .u-container-layout-2 {padding: 30px}
.u-section-5 .u-image-2 {height: 297px; width: 297px; background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg=="); background-position: 50% 50%; margin: 0 auto}
.u-section-5 .u-text-4 {margin: 30px 0 0}
.u-section-5 .u-text-5 {margin: 20px 0 0}
.u-section-5 .u-layout-cell-3 {min-height: 485px}
.u-section-5 .u-container-layout-3 {padding: 30px}
.u-section-5 .u-image-3 {height: 297px; width: 297px; background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+"); background-position: 50% 50%; margin: 0 auto}
.u-section-5 .u-text-6 {margin: 30px 0 0}
.u-section-5 .u-text-7 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 15px}
.u-section-5 .u-text-1 {margin-right: 246px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 400px}
.u-section-5 .u-image-1 {height: 233px; width: 233px}
.u-section-5 .u-layout-cell-2 {min-height: 400px}
.u-section-5 .u-image-2 {height: 233px; width: 233px}
.u-section-5 .u-layout-cell-3 {min-height: 400px}
.u-section-5 .u-image-3 {height: 233px; width: 233px} }

@media (max-width: 991px){ .u-section-5 .u-text-1 {margin-right: 26px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-image-1 {height: 160px; width: 160px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-image-2 {height: 160px; width: 160px}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-image-3 {height: 160px; width: 160px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 115px}
.u-section-5 .u-text-1 {margin-right: 0}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }.u-section-6 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-6 .u-sheet-1 {min-height: 220px}
.u-section-6 .u-text-1 {margin: 31px auto 0}
.u-section-6 .u-layout-wrap-1 {margin: 25px 0 0}
.u-section-6 .u-layout-cell-1 {min-height: 198px}
.u-section-6 .u-container-layout-1 {padding: 20px 60px}
.u-section-6 .u-text-2 {margin: 0}
.u-section-6 .u-text-3 {margin: 20px 0 0}
.u-section-6 .u-text-4 {margin-left: 0; margin-right: 295px; margin-top: 20px}
.u-section-6 .u-layout-cell-2 {min-height: 198px}
.u-section-6 .u-container-layout-2 {padding: 20px 60px}
.u-section-6 .u-text-5 {margin: 0}
.u-section-6 .u-text-6 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 148px}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-1 {padding-left: 49px; padding-right: 49px}
.u-section-6 .u-text-4 {margin-right: 217px}
.u-section-6 .u-container-layout-2 {padding-left: 49px; padding-right: 49px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 69px}
.u-section-6 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-6 .u-text-4 {margin-right: 145px}
.u-section-6 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-6 .u-layout-cell-1 {min-height: auto}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-layout-cell-2 {min-height: auto}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-text-4 {margin-right: 0} }